@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Grape+Nuts&family=Poppins:wght@200;300;400;500;700&family=Righteous&family=Rubik+Glitch&display=swap');

:root{
    --primary-color: gold;
    --primary-color-light: #FFE558;
    --secondary-color: deepskyblue;
    --secondary-color-dark: #00b1ec;
    --accent-color: springgreen;
    --accent-color-dark: rgb(0, 230, 115);
    --text-color: white;
    --text-color-dark: #1b1b1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    min-height: 200vh;
    font-family: 'Poppins', sans-serif;
}
body::before{
    content: '';
    display: block;
    padding-top: 80px;
}
img, video{
    width: 100%;
}

/* Body Animation Start */
.body-layer{
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 6666;
    box-shadow: -6px 0px 0px rgba(44, 44, 44, 0.24);
}
.body-layer1{
    background: yellowgreen;
    animation: bodyIntro 0.8s linear;
    animation-delay: 0.6s;
}
.body-layer2{
    background: yellow;
    animation: bodyIntro 0.8s linear;
    animation-delay: 0.3s;
}
.body-layer3{
    background: cyan;
    animation: bodyIntro 0.8s linear;
    /* animation-delay: 0.5s; */
}
@keyframes bodyIntro{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
/* Body Animation End*/

/* Custom Classes Start*/
p{
    font-size: 18px;
}
    /* Text Colors */
.txt-secondary{
    color: var(--secondary-color);
}
.txt-red{
    color: orangered;
}
    /* Text Colors */
.container{
    max-width: 960px;
    margin: 0 auto;
}
.inner-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px 0px;
}
.section-header{
    background: white;
    padding: 4px 15px;
    display: inline-block;
    margin: auto;
    border-radius: 12px;
    border: 3px solid var(--primary-color);
    box-shadow: 0px 0px 0px 2px #F0D753;
    color: var(--primary-color);
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}
.l-block{
    display: block;
}
.col-left, .col-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-left{
    text-align: left;
    align-items: flex-start;
    justify-content: center;
}
.col-right{
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}
/* Custom Classes End*/

/* Header Starts */
header{
    background: var(--primary-color);
    box-shadow: 0px 5px 0px rgba(158, 158, 158, 24%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
header .container{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{
    font-family: 'Righteous', sans-serif;
    font-size: 35px;
    color: var(--text-color);
    text-decoration: none;
}
header .container nav ul li{
    display: inline-block;
}
header .container nav ul li a{
    font-family: 'Concert One', sans-serif;
    font-size: 22px;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
}
header .container nav ul li:last-child a{
    background: var(--secondary-color);
    padding: 5px 10px 8px;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.24);
    transition: all 0.3s;
    animation: contactBtn 1s linear infinite;
}
header .container nav ul li:last-child a:hover{
    color: var(--primary-color-light);
}
@keyframes contactBtn{
    0%{
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.64);
    }
    50%{
        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.34);
    }
    100%{
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.64);
    }
}
header .container nav ul li a:hover{
    color: var(--secondary-color);
}
header .container .nav-layer{
    display: none;
}
header .container .mobile-menu{
    display: none;
}
/* Header Ends */

/* Banner Starts */
.banner-section{
    background: var(--primary-color-light);
    padding: 20px 20px 0px;
}
.banner-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner-section .container .col-right .text-content h1{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: 0px 5px 0px rgba(158, 158, 158, 0.24);
}
.banner-section .container .col-right .text-content p{
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 15px 0px;
}
.banner-section .container .col-right .text-content .cta-btn{
    filter: drop-shadow(2px 4px 0px rgba(158, 158, 158, 0.24));
    background: #FFD700;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0px 5px;
    animation: ctaBtn 2s ease infinite;
}
@keyframes ctaBtn{
    0%{
        filter: drop-shadow(0px 0px 0px rgba(158, 158, 158, 0.24));
    }
    50%{
        filter: drop-shadow(0px 6px 0px rgba(158, 158, 158, 0.24));
    }
    100%{
        filter: drop-shadow(0px 0px 0px rgba(158, 158, 158, 0.24));
    }
}
/* Banner Ends */


/* About Starts */
.about-section{
    background: var(--primary-color-light);
    padding: 80px 20px 0px;
}
.about-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .container .inner-container .col-left img{
    width: 80%;
}
.about-section .container .inner-container .col-right .text-content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    display: block;
    color: var(--text-color-dark);
    position: relative;
    margin-bottom: 20px;
}
.about-section .container .inner-container .col-right .text-content h1::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: -5px;
    background: var(--text-color-dark);
    width: 25%;
    height: 2px;
}
/* About Ends */

/* Service Starts */
.services-section{
    padding: 80px 15px 0px;
    background: var(--primary-color-light);
    position: relative;
    z-index: -2;
}
.services-section::before, .services-section::after{
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px dashed rgba(158, 158, 158, 0.54);
    left: -175px;
    top: 150px;
    animation: rotate360 2s linear infinite;
    z-index: -1;
}
.services-section::after{
    width: 200px;
    height: 200px;
    top: 175px;
    left: -150px;
    animation: rotate360 5s linear infinite;
}
@keyframes rotate360{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.services-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    z-index: 5;
}
.service-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0px 0px;
}
.service-card{
    width: 300px;
    height: 520px;
    background: white;
    border: 5px solid var(--secondary-color);
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    position: relative;
}
.service-card:hover{
    box-shadow: 0px 0px 0px 8px rgba(158, 158, 158, 0.24);
}
.service-card h2{
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.service-card p{
    text-align: justify;
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}
.service-card ul{
    padding-left: 20px;
}
.service-card ul li{
    margin-bottom: 8px;
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.service-card .service-pricing{
    display: block;
    text-align: center;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 14px;
    margin-top: 15px;
    text-decoration: none;
    color: var(--text-color-dark);
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.service-card .service-pricing:hover{
    background: var(--accent-color-dark);
}
.service-card .service-pricing strike{
    margin-right: 10px;
    opacity: 60%;
}
.services-section .container p{
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}
/* Service Ends */

/* Portfolio Starts */
.portfolio-section{
    background: var(--primary-color-light);
    padding: 80px 20px 0px;
    position: relative;
    z-index: -2;
}
.portfolio-section::before, .portfolio-section::after{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.64);
    right: -80px;
    top: 170px;
    border-radius: 50%;
    animation: pop 2s ease infinite;
    z-index: -1;
}
.portfolio-section::after{
    width: 50px;
    height: 50px;
    right: 5px;
    animation: pop 1.3s ease infinite;
}
@keyframes pop{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
.portfolio-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-slots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.portfolio-section .portfolio-slots a{
    position: relative;
    height: 170px;
    margin: 10px;
    overflow: hidden;
}
.portfolio-section .portfolio-slots a img{
    width: 300px;
    height: 170px;
    border: 3px solid var(--primary-color);
    border-radius: 3px;
}
.portfolio-section .portfolio-slots a::after{
    position: absolute;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #ffe658b0;
    z-index: 1;
}
.portfolio-section .portfolio-slots a::before{
    content: '1';
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-dark);
    z-index: 2;
}
.portfolio-section .portfolio-slots a:nth-child(2):before{
    content: '2';
}
.portfolio-section .portfolio-slots a:nth-child(3):before{
    content: '3';
}
/* Portfolio Ends */


/* Contact Starts */
.contact-section{
    padding: 80px 15px 10px;
    background: var(--primary-color-light);
}
.contact-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-section .container .col-left{
    padding-right: 20px;
}
.contact-section .container .col-right{
    padding-left: 20px;
    border-left: 2px solid var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.contact-section .container .inner-container .col-left .contact-form{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
}
.contact-section .container .inner-container .contact-form input, .contact-section .container .inner-container .contact-form textarea{
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 15px;
    background: #F0F0F0;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    resize: none;
    overflow-x: hidden;
}
.contact-section .container .inner-container .col-left .contact-form input:focus, .contact-section .container .inner-container .col-right .contact-form textarea:focus{
    outline: transparent;    
    border: transparent;
}
.contact-section .container .inner-container .col-left .contact-form button{
    cursor: pointer;
    padding: 5px 20px;
    background: var(--secondary-color);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-bottom-right-radius: 8px;
}
.contact-section .container .inner-container .col-left .contact-form button:hover{
    background: var(--secondary-color-dark);
}
.contact-section .container .inner-container .col-right a img{
    width: 100px;
    margin: 15px;
    animation: littleScale 5s linear infinite;
}
@keyframes littleScale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}
/* Contact Ends */


/* Footer Starts */
footer{
    display: flex;
    padding: 80px 20px;
    background: var(--secondary-color);
    border-top: 3px solid var(--secondary-color-dark);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-weight: 600;
    font-size: 18px;
    color: white;
}
/* Footer Ends */




































/* Media Queries Start*/
@media screen and (max-width: 1050px){
    /* .container{
        padding: 0px 30px;
    } */
    /* Services Section */
    .service-card{
        width: 30.00%;
    }
    /* Services Section */
}
@media screen and (max-width: 960px){
    p{
        font-size: 16px;
        line-height: 22px;
    }
    .container{
        padding: 0px 0px;
    }
    .l-block{
        display: none;
    }
    /* Header */
    header .container .mobile-menu{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 5px 0px rgba(158, 158, 158, 24%);
        padding: 0px 20px;
        width: 100%;
        z-index: 8888;
        height: 80px;
    }
    header .container .mobile-menu .mobile-menu-btn{
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    header .container .mobile-menu .mobile-menu-btn .bar{
        display: block;
        width: 28px;
        height: 4px;
        margin: 5px;
        background: white;
        border-radius: 1px;
        box-shadow: 1px 2px 0px rgba(158, 158, 158, 24%);
        transition: all 0.6s;
    }
    header.mm-active .container .mobile-menu .mobile-menu-btn .bar:nth-child(1){
        transform: rotate(45deg) translateY(13px);
    }
    header.mm-active .container .mobile-menu .mobile-menu-btn .bar:nth-child(2){
        opacity: 0;
    }
    header.mm-active .container .mobile-menu .mobile-menu-btn .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-13px);
    }
    header .container nav{
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        z-index: 7777;
        padding-top: 30px;
        transition: all 0.4s;
        transition-delay: 0.0s;
    }
    header.mm-active .container nav{
        left: 0px;
        transition-delay: 0.4s;
    }
    header .container .nav-layer{
        display: block;
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 100%;
        background: pink;
        transition: all 0.4s;
        z-index: 6666;
    }
    header.mm-active .container .nav-layer{
        left: 0px;
    }
    header .container .nav-layer1{
        background: slateblue;
        transition-delay: 0.4s;
    }
    header .container .nav-layer2{
        background: springgreen;
        transition-delay: 0.3s;
    }
    header .container .nav-layer3{
        background: tomato;
        transition-delay: 0.2s;
    }
    header.mm-active .container .nav-layer1{
        transition-delay: 0s;
    }
    header.mm-active .container .nav-layer2{
        transition-delay: 0.1s;
    }
    header.mm-active .container .nav-layer3{
        transition-delay: 0.2s;
    }
    header .container nav ul{
        text-align: center;
    }
    header .container nav ul li{
        display: block;
        line-height: 50px;
    }
    header .container nav ul li a{
        font-size: 28px;
        text-shadow: 0px 3px 0px rgba(158, 158, 158, 24%);
    }
    /* Header */
    /* Banner */
    .banner-section .container .col-right .text-content h1{
        font-size: 50px;
        line-height: 55px;
    }
    .banner-section .container .col-right .text-content .cta-btn{
        font-size: 18px;
        padding: 0px 10px;
    }
    /* Banner */

    /* About */
    .about-section .container .inner-container .col-right .text-content h1{
        font-size: 40px;
    }
    /* About */
}
/* 
.
.
.
.
.
*/
@media screen and (max-width: 890px){
    /* Services Section */
    .service-cards{
        align-items: center;
        justify-content: center;
    }
    .service-card{
        width: 300px;
        margin: 0px 15px 30px 15px;
    }
    /* Services Section */

    /* Contact Section */
    .contact-section .container .col-left, .contact-section .container .col-right{
        width: 60%;
        border: 0px;
        min-height: 200px;
    }
    /* Contact Section */
}
@media screen and (max-width: 800px){
    p{
        font-size: 15px;
        line-height: 19px;
    }
    /* Banner */
    .banner-section .container .col-right .text-content h1{
        font-size: 40px;
        line-height: 45px;
    }
    .banner-section .container .col-right .text-content .cta-btn{
        font-size: 16px;
        padding: 0px 10px;
    }
    /* Banner */

    /* About */
    .about-section .container .inner-container .col-right .text-content h1{
        font-size: 30px;
    }
    /* About */
}
/* 
.
.
.
.
.
*/
@media screen and (max-width: 700px){
    .col-left, .col-right{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        padding: 30px 20px;
    }
    .banner-section .container .col-left video{
        width: 90%;
        margin: 0 auto 10px;
        padding-left: 9%;
    }
    /* About */
    .about-section .container .inner-container .col-left img{
        width: 60%;
    }
    .about-section .container .inner-container .col-right .text-content h1::after{
        left: 50%;
        transform: translateX(-50%);
        width: 15%;
    }
    /* About */

    /* Contact Section */
    .contact-section .container .col-left, .contact-section .container .col-right{
        width: 100%;
    }
    /* Contact Section */
}
/* 
.
.
.
.
.
*/
@media screen and (max-width: 500px){
    /* About */
    .about-section .container .inner-container .col-left img{
        width: 80%;
    }
    /* About */
}
/* 
.
.
.
.
.
*/
@media screen and (max-width: 340px){
    /* Services Section */
    .service-card{
        width: 100%;
    }
    /* Services Section */
}
/* Media Queries End*/